<header>
    <nav class="header-nav">
        <a class="header-title" href="/admin">MyDoc Admin</a>
        <ul>
            <li class="header-link"><a href="/admin/doctors">Doctors</a></li>
            <li class="header-link"><a href="/admin/doctors/new">Add Doctor</a></li>
            <li class="header-link"><a href="/admin/appointments">Appointments</a></li>
            <li class="header-link"><a href="/admin/prescriptions">Prescriptions</a></li>
        </ul>
    </nav>
</header>
