<header>
    <nav class="header-nav">
        <a class="header-title">MyDoc Physician</a>
        <ul>
            <li class="header-link"><a href="http://localhost:3030/">Start Room</a></li>
            <li class="header-link"><a href="/prescription/new">Write Prescription</a></li>
        </ul>
    </nav>
</header>