<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyDoc</a>
        <ul>
            <li class="header-link"><a href="/appointments">View Appointment</a></li>
            <li class="header-link"><a href="/appointments/new">Make Appointment</a></li>
            <li class="header-link"><a href="/doctors">Doctors</a></li>
        </ul>
    </nav>
</header>