<h1 style="text-align: center;font-family: sans-serif; font-size: 5em;" >Welcome to MyDoc</h1>
<p style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: x-large;" >San Ignacio Hopital's Booking and consultatancy System</p>
</br></br>

<div style="text-align: center;">
    <a style="align-self: center;" class="btn btn-primary" href="/home">Login</a>
</div>