<h2>Welcome Doctors</h2>

<form action="/doctors" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %> ">
    <button type="submit"> login</button>
</form>