<h2 class="page-header">New Prescription</h2>
<form action="/prescription" method="POST">
    <%- include('_form_fields') %> 
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/prescrition">Cancel</a>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>