<table class="styled-table">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Prescription</th>
            <th>delete</th>
        
        </tr>
    </thead>
    <tbody>
        <% prescription.forEach(prescription => { %> 
            <tr>
              <th><%= prescription.appointment.name%> <%= prescription.appointment.surname%></th>  
              <th><%= prescription.prescription %></th>
              <th><%- include('../partials/deleteForm', 
            { url: `/prescription/${prescription.id}`}) %> </th>  
            </tr> 
        <% }) %> 
    </tbody>
</table>