 <h2>New Appointment</h2>
<form action="/appointments" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %> 
    <a href="/appointments">Cancel</a>
    <button type="submit">Create</button>
</form>