<h2 class="page-header1">Doctor Info </h2>
<h2 class="page-header" >Dr. <%= doctor.name %> <%= doctor.surname %> </h2>
<img width="300" height="450" src="<%= doctor.coverImagePath%> ">
<div><%= doctor.speciality %> </div>    